doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='style.css')
  link(rel='shortcut icon' href='favicon.png' type='image/x-icon')
.container
  .main
    .first
      header.header
        .logo
          span.digit digits
          .sq
            .s
            .s1
        nav.names
          a(href='#') Homepages
          a(href='#') Products
          a(href='#') Company
          a(href='#') Pricing
          a(href='#') Blog
        .contact +00 123 456 789
        button.help Contact us
    .textalogo
      .firstcenter
        | Good design meets great user experience
      .everyone
        | For everyone, from beginners to experts
    .bl
      .fbl Buy Digits
      .sbl See the Features
    .pho
      .phfirst
        img(src='Graphic.png' alt='sasi')
      .phsec
        img(src='Section_ Logos.png' alt='sasi')
    .secpg
      .whatever Whatever work you do, we&apos;re able to help
      .people
        img(src='Graphics.png' alt='sasi')
      .textvectors
        img(src='Text.png' alt='sasi')
    .thirdpage
      .simplicity Simplicity meets innovative design
      .usdig
        | It&apos;s really easy to start using Digits.
        br
        |                     Install the theme, choose a demo and
        br
        |                     start designing the future of your business!
      .buydig Buy digits
      .sight
        img(src='sightsings.png' alt='')
      .what What others are saying
      .sign
        .what
        .block1
          .desc1
            | Completely beautiful website and amazing support! This is my second website from this author and I love both of the sites so much and she has helped me so well when I needed it!
          .ava1
            img(src='Group 16.png' alt='')
          .happy Happy User
          .tempy tempy.club
        .block2
          .desc2
            | Really easy to use and customize. easy to understand. Darinka helped me with my site! She answers very quickly, a good service! Thank you very much!
          .ava2
            img(src='Group 15.png' alt='')
          .happy Happy User
          .tempy tempy.club
        .block3
          .desc3
            | Really pleasing to look at! Documentation (including installation instructions) are clear and that is coming from a relatively new WordPress user.
          .ava3
            img(src='Group 14.png' alt='')
          .happy Happy User
          .tempy tempy.club
