doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='style.css')
  link(rel='shortcut icon' href='favicon.png' type='image/x-icon')
.container
  .main
    .first
      header.header
        .logo
          span.digit digits
          .sq
            .s
            .s1
        nav.names
          a(href='#') Homepages
          a(href='#') Products
          a(href='#') Company
          a(href='#') Pricing
          a(href='#') Blog
        .contact +00 123 456 789
        button.help Contact us
